*~
*pyc
*.DS_Store
*.egg
*.eggs
*.egg-info
*.log
*.pyc
*.sass-cache
*build/
*dat
.env
venv
.pytest_cache/
.ipynb_checkpoints
.ruby-version
.tox
.mypy_cache/
dist/
pip-wheel-metadata
server/
scala/
mongodb/
.cache/
build/
*.egg-info/
jnk/
logs/
tmp/
profile.*
*.sqlite
*.tar.gz
.rasa/
/actions/_pycache_/
open_env.bat
launch.json
tasks.json